!!!5
%html
  %head
    %title Softcell
    = stylesheet_link_tag :application
    = csrf_meta_tag

  %body{ id: controller.controller_name, class: controller.action_name }
    - if session[:persisted]
      %header
        %nav
          = link_to 'Home', dashboard_url
          = link_to 'Sign Out', logout_url, method: :delete, class: 'logout-link'

    .container
      = yield

    = javascript_include_tag :application
