!!!5
%html
  %head
    %title Softcell
    = stylesheet_link_tag :application
    = csrf_meta_tag

  %body{ id: controller.controller_name, class: controller.action_name }
    %header
      %nav
        = link_to 'Softcell', dashboard_url
        = link_to 'Create New Invoice', new_invoice_path, class: 'tool-button'
        = link_to 'Add a Client', new_client_path, class: 'tool-button'

    .container
      = yield

    = javascript_include_tag :application
